@import "tailwindcss/base";

@import "tailwindcss/components";

.btn-green {
    @apply bg-green-600 border border-green-700 py-2 px-4 uppercase text-white text-sm text-center;
}

.btn-green:hover {
    @apply bg-green-700;
}

.error {
    @apply text-xs text-red-700 mt-2 mb-2;
}

input, select {
    @apply w-full bg-muted-light border border-muted-dark rounded p-3;
}

@import "tailwindcss/utilities";

@import "~vue-snotify/styles/material";
// @import "~vue-snotify/styles/dark";

// Vue transitions
.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.15s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

// vue-js-modal
.v--modal-overlay {
    background-color: rgba(22, 23, 27, 0.93) !important;
}

// vue-datetime picker theme
.theme-green .vdatetime-popup {
    background: #202125;
    color: #FFFFFF;
}

.theme-green .vdatetime-input {
    background: #505155;
    border-radius: 0.25rem;
}

.theme-green .vdatetime-calendar__month__day:hover > span > span {
    background: #38393D;
}

.theme-green .vdatetime-popup__header,
.theme-green .vdatetime-calendar__month__day--selected > span > span,
.theme-green .vdatetime-calendar__month__day--selected:hover > span > span {
  background: #48bb78;
}

.theme-green .vdatetime-year-picker__item--selected,
.theme-green .vdatetime-time-picker__item--selected,
.theme-green .vdatetime-popup__actions__button {
  color: #48bb78;
}


.background-image {
    background-image: url('../images/background.jpg');
}

@media(min-width: 1280px) {
    .background-image {
        background-image: none;
    }
}

// Apex Charts
.apexcharts-tooltip {
	background: #202125;
	color: #FFF;
	box-shadow: 2px 2px 6px -4px #16171B;
	border: 1px solid #16171B;
}

.apexcharts-tooltip-title {
	background: #16171B;
}

.apexcharts-xaxistooltip {
	background: #16171B;
	color: #FFF;
	box-shadow: 2px 2px 6px -4px #16171B;
	border: 1px solid #16171B;
}

// Webkit Scrollbar
::-webkit-scrollbar {
    width:7px;
}

::-webkit-scrollbar-track{
    background:#16171B;
    border-radius:7px;
}

::-webkit-scrollbar-thumb{
    background:#38393D;
    border-radius:7px;
}

@media screen and (min-width: 768px) {
    ::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
        width:10px;
    }
}


// v-dialog
.vue-dialog {
    border: 1px solid #16171B;
}

.dialog-content {
    background-color: #202125;
    color: white;
}

.vue-dialog-buttons {
    border-top: 1px solid #16171B !important;
}

.vue-dialog-button {
    background-color: #38393D !important;
    color: white !important;
}