@import "tailwindcss/base";

@import "tailwindcss/components";

// Need nav-link here so we can control the icon colour of the vue's active-link prop
.nav-link {
    @apply text-white;
    & > i {
        @apply text-center text-gray-300;
    }

    &:hover {
        @apply bg-green-400 text-green-900;
        & > i {
            @apply text-green-700;
        }
    }
    &:focus {
        @apply bg-green-500 text-green-900;
        & > i {
            @apply text-green-700;
        }
    }

}

.nav-link-active {
    @apply bg-green-500 text-green-900;
    & > i {
        @apply text-green-800;
    }
}

.card {
    @apply bg-gray-600 text-gray-100 rounded shadow-inner p-2;
}

.card-highlighted {
    @apply bg-gray-500 text-gray-100 shadow-inner;
}

.card-green {
    @apply bg-green-500 text-green-200 shadow-inner;
}

.card-red {
    @apply bg-red-500 text-red-900 shadow-inner;
}

.btn {
    @apply py-2 px-3 rounded uppercase text-sm text-center tracking-wide font-medium cursor-pointer shadow;
    @screen md {
        @apply py-3 px-4;
    }

    &:hover {
        @apply shadow-2xl;
    }

    &.btn-gray {
        @apply bg-gray-500 text-white;
        &:hover {
            @apply bg-gray-450;
        }
    }
    
    &.btn-green {
        @apply bg-green-500 text-white;
        &:hover {
            @apply bg-green-400;
        }
    }
    
    &.btn-red {
        @apply bg-red-500 text-white;
        &:hover {
            @apply bg-red-400;
        }
    }
}

.error-message {
    @apply text-sm text-red-500 font-medium tracking-wide my-1;
}

.error-input {
    @apply border-red-500 border-2;
}

.modal {
    @apply bg-gray-700 text-white p-2 rounded-lg border-b-8;
    @screen md {
        @apply p-4;
    }

    &.modal-green {
        @apply border-green-500;
    }

    &.modal-red {
        @apply border-red-500;
    }
}

input, select, textarea {
    @apply w-full bg-gray-500 border border-gray-600 text-white rounded shadow p-3;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid hsl(225, 7%, 13%);
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
}

@import "tailwindcss/utilities";

@import "~vue-snotify/styles/material";
// @import "~vue-snotify/styles/dark";

// Vue transitions
.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.15s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

// vue-js-modal
.v--modal-overlay {
    background-color: hsla(225, 0%, 5%, 0.95) !important;
}

// vue-datetime picker theme
.theme-green .vdatetime-popup {
    background: #202125;
    color: #FFFFFF;
}

.theme-green .vdatetime-calendar__month__day:hover > span > span {
    background: #38393D;
}

.theme-green .vdatetime-popup__header,
.theme-green .vdatetime-calendar__month__day--selected > span > span,
.theme-green .vdatetime-calendar__month__day--selected:hover > span > span {
  background: #48bb78;
}

.theme-green .vdatetime-year-picker__item--selected,
.theme-green .vdatetime-time-picker__item--selected,
.theme-green .vdatetime-popup__actions__button {
  color: #48bb78;
}

.background-image {
    background-image: url('../images/background.jpg');
}

@media(min-width: 1280px) {
    .background-image {
        background-image: none;
    }
}

// Apex Charts
.apexcharts-tooltip {
	background: #202125;
	color: #FFF;
	box-shadow: 2px 2px 6px -4px #16171B;
	border: 1px solid #16171B;
}

.apexcharts-tooltip-title {
	background: #16171B;
}

.apexcharts-xaxistooltip {
	background: #16171B;
	color: #FFF;
	box-shadow: 2px 2px 6px -4px #16171B;
	border: 1px solid #16171B;
}

// Webkit Scrollbar
::-webkit-scrollbar {
    width:7px;
}

::-webkit-scrollbar-track{
    background:#16171B;
    border-radius:7px;
}

::-webkit-scrollbar-thumb{
    background:#38393D;
    border-radius:7px;
}

@media screen and (min-width: 768px) {
    ::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
        width:10px;
    }
}


// v-dialog
.vue-dialog {
    border: 1px solid #16171B;
}

.dialog-content {
    background-color: #202125;
    color: white;
}

.vue-dialog-buttons {
    border-top: 1px solid #16171B !important;
}

.vue-dialog-button {
    background-color: #38393D !important;
    color: white !important;
}